.social-btn {
  background-color: grey;
  text-align: center;
  font-size: 30px;
  margin: 40px;
  padding: 10px;
  color: white;
  border: 3px solid black;
}

.social-btn:hover {
  background-color: white;
  color: grey;
  text-decoration: none;
}
